.contact_section {
    margin-bottom: 70px;
}

.contact_card {
    border: 1px solid gainsboro;
    border-radius: 15px;
    transition: all ease-in-out 0.3s;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }
}

.contact_card_body {
    padding: 20px;
}

.contact_card_icon_1,
.contact_card_icon_2,
.contact_card_icon_3,
.contact_card_icon_4 {
    width: 50px;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 10px;
}

.contact_card_icon_1 {
    background-color: #3B5BDB;
}

.contact_card_icon_2 {
    background-color: #22C55E;
}

.contact_card_icon_3 {
    background-color: #E8630A;
}

.contact_card_icon_4 {
    background-color: #0070BA;
}

.contact_card_title {
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--primary-fonts);
    margin-top: 30px;
}

.contact_card_text {
    color: black;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: var(--primary-fonts);
    margin-bottom: 15px;
}

.contact_card_btn_1,
.contact_card_btn_2,
.contact_card_btn_3,
.contact_card_btn_4 {
    font-size: 12px;
    font-weight: 400;
    font-family: var(--primary-fonts);
    letter-spacing: 0.5px;
    border-radius: 25px;
    padding: 5px 10px;
    display: inline-block;
    font-family: var(--primary-fonts);
    transition: all ease-in-out 0.3s;

    &:hover {
        color: white;
        background-color: var(--secondary-color);
    }
}

.contact_card_btn_1 {
    color: #3B5BDB;
    border: 1px solid #3B5BDB;
}

.contact_card_btn_2 {
    color: #22C55E;
    border: 1px solid #22C55E;
}

.contact_card_btn_3 {
    color: #E8630A;
    border: 1px solid #E8630A;
}

.contact_card_btn_4 {
    color: #0070BA;
    border: 1px solid #0070BA;
}


/* ---- FAQ Section ---- */
.accordion_button {
    color: var(--primary-color);
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: var(--primary-fonts);
}

.accordion_body_text {
    font-size: 15px;
    font-family: var(--primary-fonts);
}

.accordion_button:not(.collapsed) {
    color: var(--primary-color);
    background-color: #cbe4f5;
}

.accordion_button::after {
    background-size: 12px;
}